#container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    width: 900px;
}

.cell {
    outline: solid 2px black;
    background-color: lightgray;
}